$color-white: #ffffff;

$color-bg: #f4f3fa;
$color-gray1: #edf0f4;
$color-gray2: #dee2eb;
$color-gray3: #d2d7e2;
$color-gray4: #999fb0;
$color-text: #5e677d;
$color-text-dark: #253359;


$color-primary: #1abff3;


$color-red: #ff2168;
$color-danger: $color-red;
$color-coral: #ff7c60;
$color-yellow: #ffcf78;
$color-green: #05e4d7;
$color-blue: #1969E1;
